/* Style for project */

/* At the very top of your style.css file */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');



html, body {
    font-family: "Roboto", "Playfair Display", sans-serif;
    height: 100%; 
    margin: 0;
    padding: 0;
    display: flex; /* Make the body a flex container */
    flex-direction: column; /* Arrange children (header, main, footer) in a column */
}

header {
    height: 50px;
    background-color: #FFFBF3;
    color: black;
    text-align: center;
    padding: 20px;
}

main {
    flex-grow: 1; /* Allow main to expand and fill available space */
    background-color: #FFFBF3; /* Set your desired background color */
    display: flex;
    flex-direction: column;
}

footer {
    height: 50px;
    background-color: #FEECCA;
    color: #565656;
    text-align: center;
    padding: 10px 0;
}

.hero {
    height: 300px;
}

.main {
    height: 500px;
    background-color: #F6E6D9;
}

.signup {
    
    
}

/* Additional styles for footer to ensure it stays at the bottom */
footer {
    position: relative; /* Change from fixed to relative */
    width: 100%;
}


