/* Style for project */

/* At the very top of your style.css file */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');



html, body {
    font-family: "Roboto", "Playfair Display", sans-serif;
    height: 100%; 
    margin: 0;
    padding: 0;
    display: flex; /* Make the body a flex container */
    flex-direction: column; /* Arrange children (header, main, footer) in a column */
}

header {
    height: 50px;
    background-color: #FFFBF3;
    color: black;
    text-align: center;
    padding: 20px;
}

main {
    flex-grow: 1; /* Allow main to expand and fill available space */
    background-color: #FFFBF3; /* Set your desired background color */
    display: flex;
    flex-direction: column;
}

footer {
    height: 50px;
    background-color: #FEECCA;
    color: #565656;
    text-align: center;
    padding: 10px 0;
}

section {
    padding: 0 200px; /* Adds padding inside the content container */
}

.hero {
    height: 300px;
    display: flex;
    flex-direction: row;
}

.hero-left {
    max-width: 500px;
    padding-right: 100px;
    box-sizing: border-box;
}

.image-container {
    background-color: #FFEFCE;
    border-radius: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
    
}

.hero-image {
    transform: scale(1);
    transform: translate(-25px, -25px);
}

.main {
    height: 500px;
    background-color: #F6E6D9;
    display: flex;
    flex-direction: row;
}

.main-left {
    max-width: 500px;
    
}

.signup {
    height: 250px;    
    
}

.button {
    background-color: #FFA800;
    border-radius: 5px;
    border: none;
    outline: none;
    padding: 5px 10px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    
}

.button:hover, .button:focus {
    background-color: #ffc354; /* Darker shade on hover/focus */
}

.button:focus {
    outline: 2px solid #FFA800; /* Additional focus styling */
}



/* Additional styles for footer to ensure it stays at the bottom */
footer {
    position: relative; /* Change from fixed to relative */
    width: 100%;
}


